

#SidebarMenu {
  
  width: 500px;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 100%;

    background-color: #C2BBF0 !important;
  }

#block {
  margin-top: 20px;
  
  top: 250px;
  
}
h1{
  text-align:center;
}

#cardHolder{
  
  left: 40;
}
.card{
  width:  300px;
 
 background-color: lightblue !important;
  transition: transform 0.3s;
}
.card:hover{
  transform: translateY(-50px);
  
}
#infoBar{
  padding: 15px;
  height: 10px;
 
  background-color: lightblue
}
#NewsBar{
  list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    animation: ticker 20s linear infinite;
}
#card-title{
  text-align: center;
}
.form-rounded {
  border-radius: 1rem;
  }
  #navbarDropdown {
    margin: 10px;
   
    transition: transform 0.3s;
}


 #navbarDropdown:hover{
  transform: translateY(-10px);
}


 .input-with-image {
  background-image: url('search.png'); 
  background-size: 20px 20px;
  background-position: 10px center; 
  background-repeat: no-repeat; 
  padding-left: 40px; 
}
.no-outline-button {
  border: none; 
  background: none; 
  cursor: pointer;
 
  width:  10px; 
  height: 10px;
 
}

.ticker-container {
  width: 100%;
  padding: 15px;
  height: 10px;
  background-color: lightblue;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-wrapper {
  width: 100%;
  background-color: transparent;
  display: inline-block;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 20s;
}

@keyframes ticker {
  0% {
      transform: translateX(100%); 
  }
  100% {
      transform: translateX(-100%); 
  }
}

.ticker-transition {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%; 
}

.ticker-transition:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.ticker-item {
  display: inline-block;
  padding: 0 2rem;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body {
    background-image: url('rain-4431.gif');
    background-size: cover;
    animation: slidein 100s infinite alternate;
    /* Other properties remain the same */
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }
    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

