/*Import for font*/ 
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

/* weather block, set characteristics */ 
#block {
	margin-top: 20px;
	top: 250px;
  background-color: lightblue !important; 
  border-radius: 45px;
}

/* make the weather cards slide in from the left */ 
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-600%);
  }
}
 
/* sets characteristics for the cards*/ 
.card {
	width:  200px;
  background-color: lightblue !important;
	transition: transform 0.3s;
  border-radius: 45px;
  animation: slideInFromLeft 0.5s ease-out;
}

/* card jumps when hovered on */ 
.card:hover {
	transform: translateY(-30px);
}

/* sets background for the search block */ 
#SearchBlock { 
  background-color: rgba(184, 180, 180, 0.801); 
  margin-bottom: 20px; 
}

/* search bar */ 
.input-with-image {
	background-image: url('search.png'); 
	background-size: 20px 20px;
	background-position: 10px center; 
	background-repeat: no-repeat; 
	padding-left: 40px;
  width: 400px; 
}

/* ensures no border around the cards section */ 
.no-outline-button {
  border: none; 
  background: none; 
	cursor: pointer;
	width:  10px; 
	height: 10px;
}
  
/* implements the sunny background */ 
body.sunny-bg {
  background-image: url('sunny.gif');
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100px;
}

/* implements the moon background */ 
body.moon-bg {
  background-image: url('night.gif');
	background-size: contain; 
  background-repeat: no-repeat;
  background-position: center 100px;
} 
  
/* scrollbar for the hourly weather */ 
.horizontal-scrollable > .row { 
	overflow-x: auto; 
	white-space: nowrap; 
} 

/* Back button : not clicked */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

/* Back button : once clicked */ 
.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/* this is the overlay that displays with loading screen */
#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}

/* The spinner for the loading screen */ 
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.5s infinite linear;
    border: 5px solid firebrick;
    border-right-color: transparent;
    border-radius: 50%;
}